<ion-menu side="end" content-id="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <ion-list>
      <ion-item [disabled]="tasks.length === 0" (click)="removeAllTasks()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        <ion-label>Eliminar todos los items</ion-label>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-menu>

<ion-header [translucent]="true" id="content">
  <ion-toolbar>
    <ion-title>Mi lista de tareas</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Un solo ion-content para contener todas las secciones -->
<ion-content [fullscreen]="true">
  <!-- Mensaje cuando la lista de tareas esté vacía -->
  <ion-item class="ion-text-center" lines="none" *ngIf="tasks.length === 0">
    <ion-label>No hay tareas en tu lista</ion-label>
  </ion-item>

  <!-- Lista de tareas cuando no esté vacía -->
  <ion-list *ngIf="tasks.length > 0">
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="reorderTasks($event)"
    >
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-label>{{ task.title }} - {{ task.description }}</ion-label>
        <!-- Delete task whit ID -->
        <ion-item-option color="danger" (click)="removeTask(task.id)">
          <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
        </ion-item-option>
        <ion-reorder></ion-reorder>

        </ion-item>

        <!-- <ion-item-options side="end">
          <ion-item-option color="secondary" (click)="editTask(task)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-item-option>

          <ion-item-option color="danger" (click)="removeTask(task.id)">
            <ion-icon slot="icon-only" name="trash-bin-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options> -->

      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>

  <br>

  <!-- Input -->
  <ion-item>
    <ion-label position="floating">Tarea</ion-label>
    <ion-input
    [(ngModel)]="newTaskName"
    type="text"
      name="item"
      placeholder="Ingrese la tarea"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input
    [(ngModel)]="newTaskDescription"
    type="text"
      name="desc"
      placeholder="Ingrese la descripción"
    ></ion-input>
  </ion-item>

  <br>

  <!-- Agregar -->
  <ion-button [disabled]="!newTaskName || !newTaskDescription" (click)="addTask()">
    <ion-icon name="add-outline"></ion-icon>
    Agregar
  </ion-button>
  <!-- Delete all task -->
  <ion-button [disabled]="tasks.length === 0" (click)="removeAllTasks()">
    <ion-icon name="trash-outline"></ion-icon>
    Eliminar todas las tareas
  </ion-button>

</ion-content>
