<ion-menu side="end" content-id="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item >
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        <ion-label>asdasds</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true" id="content">
  <ion-toolbar>
    <ion-title>Mi lista de tareas</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Un solo ion-content para contener todas las secciones -->
<ion-content [fullscreen]="true">
  
</ion-content>
